/* Toggle Styles */
#wrapper {
	padding-left: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#container {
	height: 70px;

}

img {
	vertical-align: middle;
	margin-left: 5%;
}
/****************** div placeholder ****************/
[contenteditable=true]:empty:before {
	content: attr(placeholder);
	color: gray;
}

#wrapper.toggled {
	padding-left: 250px;
}

#header {
	background-color: #fb0;
	border-color: 1 px solid #fb0;
}

#searchicon {
	width: 350%;
	margin-left: -280%;
	position: inherit;
	height: 50px;
	margin-top: -8px;
	border-radius: 5px;
	background-color: #edb953;
	border: none;
	position:relative;
}
#search{
    z-index: 2;
    margin-left: -795px;
    height: 51px;
    margin-top: -9px;
    background-color: #edb953;
    border: none;
    width: 71px;
}
#sidebar-wrapper {
	position: fixed;
	left: 250px;
	z-index: 1000;
	overflow-y: auto;
	margin-left: -250px;
	width: 0;
	height: 100%;
	background: #e0ddd7;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width:100%;
	
}
.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    margin-right: 25px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}
.navbar-inverse {
    background-color: #222;
     border-color:#fb0 !important; 
}

/* Sidebar Styles */
.sidebar-nav {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 250px;
	list-style: none;
	margin-top: -45px;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	color: #999999;
	text-decoration: none;
	    padding-top: 10px;
}

.sidebar-nav li a:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-decoration: none;
}

#navbar {
	margin-top: 10px;
	margin-right:20px;
	
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

#p {
	font-size: -webkit-xxx-large;
	color: black;
}

.footerimg {
    vertical-align: middle;
    padding-left:20px;
    cursor: pointer;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	background: none;
	color: #fff;
}

/* title card csss */
#headercard {
	outline: none;
	border-bottom: 1px solid #c3c6cc;
}

#footer {
	min-height: 60px;
	outline: none;
	padding-top: 5%;
}

#footergrid {
	height: 50px;
	outline: none;
	padding-top: 13%;
}

#contentcard {
    max-height: inherit;
    outline: none;
    padding-left: 3%;
    padding-top: 1%;
    word-break: break-all;
    padding-bottom: 11px;
    margin-bottom: 20px;
}
#title{
	    height: 50px;
}

#card {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25), 0 5px 5px 0
	rgba(0, 0, 0, 0.25);
	background-color: transparent;
	margin-left:85px;
	margin-top: 87px;
    width: 60%;
}

.buttonsave {
	float: right;
	background: none;
	border: none;
}

/* **********************************gridview *******************************/
/* title card csss */
#headercardgrid {
	outline: none;
	border-bottom: 1px solid #c3c6cc;
}

/* body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #e0ddd7 !important;
}
 */
#footergrid {
	outline: none;
	padding-top: 6%;
}

.pindiv {
	float: right;
}

.buttonsave {
	float: right;
	background: none;
	border: none;
}

#profile {
	width: 35px;
	margin-top: 9px;
	margin-right: 20px;
	border-radius: 20px;
}

#profilepp {
	width: 350px;
	height: 450%;
	margin-right: 14%;
}

#profileppright {
	float: right;
	margin-top: -134px;
	width: 60%;
	height: 77%;
	padding-top: 6%;
	padding-left: 10%;
}

#profilepupimag {
	width: 120px;
	margin-top: 9px;
	margin-right: 20px;
	border-radius: 20px;
}

#profilefooter {
	background-color: #bcb8b5;
	border-top: 1px solid #666463;
	height: 32%;
	margin-top: 7%;
	padding-top: 2%;
}

#profsignoutbtn {
	float: right;
}

#profilrbtn {
	margin-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
}

#rounddiv {
	border-radius: 75px;
	background: #90948a;
	padding: 37px;
	width: 120px;
	height: 120px;
	margin-left: 5%;
	margin-top: 4%;
	text-transform: uppercase;
	padding-top: 5%;
	padding-left:10%;
}

#rounddivsmall {
	border-radius: 27px;
	background: #90948a;
	width: 37px;
	height: 37px;
	margin-right: 10px;
	margin-top: 19%;
	text-transform: uppercase;
	padding-top: 5%;
	padding-left:17%;
}

#modal-body{
	outline: none;

	text-transform: capitalize;
}

#colorimag
{
	    width: 15%;
	
}
.grid{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0
	rgba(0, 0, 0, 0.25);
	background-color: transparent;
	margin:10px;
	
	
}
.list{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0
	rgba(0, 0, 0, 0.25);
	background-color: transparent;
	margin: 20px 0px 10px 0px;
	width: 70%;
	
	
}
/* ***********update popup css ***************/
.modal-header {
    border-bottom:none !important;
    
}
.row {
    margin-left: 80px !important;
}

.modal{
	margin-top: 40px;
	margin-left: 75px;
	
}
.modal-footer {
    border-top:none !important;
}
/* ************ ***** Reminder Css*****************************/
#reminderdiv
{
	width:350px;
	height:200px;
	padding-left:20px;
}
#remindersmalldiv{
    padding-top: 10px;
    font-size: inherit;
}
#reminderspan{
	float: right;
	padding-right: 10px;
}
#profilechangediv{
    height: 15px;
    width: 56px;
    margin-right: 10px;
    text-transform:capitalize;
}

#remindershow{
	border-top: 1px dotted black;
    height: 38px;
    padding-top: 7px;
}
#reminderdelbtn
{
	float: right;
	padding-right:22px;
	cursor:pointer;
}

#smallprofile {
    width: 38px;
    border-radius: 23px;
    margin-left: -10px;
    margin-top: -3px;
}
#popupprofile {
    width: 121px;
    border-radius: 59px;
    margin-left: -36px;
    margin-top: -17px;
}




