/* Toggle Styles */
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#container
{
	height: 70px;
	border-color: 1 px solid #fb0;
	
}
/* div placeholder */
[contenteditable=true]:empty:before {
  content:attr(placeholder);
  color:gray;
}

#wrapper.toggled {
	padding-left: 250px;
}

#header {
	
	background-color: #fb0;
	border-color: 1 px solid #fb0;
}

#searchicon {
	width: 320%;
	margin-left: -220%;
	height: 20%;
}

#sidebar-wrapper {
	position: fixed;
	left: 250px;
	z-index: 1000;
	overflow-y: auto;
	margin-left: -250px;
	width: 0;
	height: 100%;
	background: #e0ddd7;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}
#page-content-wrapper {
	padding: 15px;
	width: 100%;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
	width: 250px;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	color: #999999;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-decoration: none;
}
#navbar
{
	margin-top: 10px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
#p{
    font-size: -webkit-xxx-large;
    color: black;
    }
.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	background: none;
	color: #fff;
}

/* title card csss */

#headercard {
	
	outline: none;
	border-bottom:1px solid #c3c6cc;
	
}

#footer {
	border-top:1px solid #c3c6cc;
	height: 50px;
	outline: none;
	padding-top: 3%;
}

#contentcard {
    max-height: inherit;
	outline: none;
	padding-top:5%;
	padding-left: 4%;
	padding-bottom: 4%;
}

#card {
	
	margin-top:10%;
	opacity: 0.95;
	alpha: 0.65;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0
		rgba(0, 0, 0, 0.25);
	width:45%;
	background-color: transparent;
	margin-left: 238px;
	
	
}
.buttonsave{
	
    float: right;
    background: none;
    border: none;
}



/* **********************************gridview *******************************/
/* title card csss */

#headercardgrid {
	
	outline: none;
	border-bottom:1px solid #c3c6cc;
	
}

#footergrid {
	border-top:1px solid #c3c6cc;
	outline: none;
	padding-top: 3%;
}

#contentcardgrid {
    max-height: inherit;
	outline: none;
	padding-top:5%;
	padding-left: 4%;
	padding-bottom: 4%;
}

#cardgrid {
	
	margin-top:10%;
	opacity: 0.95;
	alpha: 0.65;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0
		rgba(0, 0, 0, 0.25);
	width:45%;
	background-color: transparent;
	margin-left: 238px;
	
	
}
.buttonsave{
	
    float: right;
    background: none;
    border: none;
}

