.container{
		width:960px;
		margin:0 auto;
		font-family: 'Cuprum', sans-serif;
	}
	.txtuser, .txtpass{
		width:382px;
		height:25px;
		background:#ffffff;
		padding:5px 10px 5px 24px;
		border-top:0px;
		border-right:0px;
		border-left:0px solid #cdcdcd;
		border-bottom:2px solid #cdcdcd;
		color:#808080;
		font-size:14pt;
		font-family:'calibri';
		background: #ffffff url(https://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
		font-family: 'Cuprum', sans-serif;
		
	}
	.txtpass:focus,.txtuser:focus,
	.txtpass:active,.txtuser:active
	{
		color:#800000;
		border-bottom:2px solid #800000;
		outline:none;
	}
	.txtbtn{
		width:130px;
		margin-top:24px;
		margin-left:27%;
		font-size:18px;
		color:#fff;
		font-weight:bold;
		border:none;
		background:#10151c;
		cursor:pointer;
		border-radius:5px;
		outline:none;
		-moz-outline:none;
		-webkit-outline:none;
		font-family: 'Cuprum', sans-serif;
		
		
	}
	.txtbtn:hover{
		
		background:#000000;
		border-bottom:4px solid #800000;
	
	}
	.txtbtn:focus{
		outline:none;
		-moz-outline:none;
		-webkit-outline:none;
	}
	#txtuser { background-position: -4px 10px !important }
	#txtpass { background-position: -4px -53px !important }
	.frmlogin{
		width:50%;
		height:56%;
		margin:0 auto;
		border-bottom:50px solid #273344;
		-webkit-box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.64);
		-moz-box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.64);
		box-shadow: 0px 0px 29px -2px rgba(0,0,0,0.64);
		border-radius:4px;
	}
	
	.frmlogin ul{
		display:block;
		list-style-type:none;
		    padding-top: 10px;
		
	}
	.frmlogin ul li{
		padding:10px 10px;
	}
	.frmlogin ul li:last-child{
		position:relative;
		left:25%;
	}
	
	.headtab{
		width:100%;
		background:#273344;
		margin:0;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
	}
	.pc {
    margin: 3% 23% 10px;
}
	.headtab h3
	{
		text-align:center;
		padding-top:10px;
		font-size:24px;
		color:white;
		font-family: 'Cuprum', sans-serif;
		
	}
	

#googlesignin{
    margin-left: 28%;
    width: 30%;
    height: 32px;
    margin-bottom: 6px;
}