<div id="container-fluid">
	<div class="row come-in">
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">Enter Email</div>
				<div class="panel-body">
					<form method="post">
						<input type="email" data-ng-model="email"
							placeholder="Enter Existing Email Here" required="required"><br>
						<p style="color: red;">{{errmsg}}</p>
						<button name="txtbtn" data-ng-click="forgetPassword()">Submit</button>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>