<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
	id="header">
	<div class="container-fluid" id="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<a class="navbar-brand" href="#menu-toggle" id="menu-toggle"> <span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
				<li><a href=""><span aria-hidden="true"><font size="5px;" color="black"><u>Manoj S</u></font></span></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href=""><span> <img src="images/refresh.svg"alt="Refresh"></span></a></li>
				<li><a href=""><img src="images/list.svg"alt="List" ng-click="showDiv = !showDiv"></a></li>
				<li><a href=""> <img src="images/grid.svg"  ></a></li>
				<li><a href=""><span> <img src="images/refresh.svg"alt="Refresh"></span></a></li>
				<li><a href=""><span> <img src="images/list.svg"alt="List"></span></a></li>
				<li><a href=""><span> <img src="images/Logout .png"></span></a></li>
			</ul>

			<form class="navbar-form navbar-right" action="#" method="GET">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search..."id="searchicon" name="search" value="">
					<div class="input-group-btn">
						<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>

<div id="wrapper" class="toggled">
	<div class="container-fluid">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><br></li>
				<li class="sidebar-brand"></li>
				<li><a href=""><span aria-hidden="true"><img src="images/noteicon.png"></span>&nbsp &nbsp &nbsp Notes</a></li>
				<li><a href=""><span aria-hidden="true"><img src="images/remindericon.svg"></span>&nbsp &nbsp &nbsp Reminders</a></li>
				<li><a href=""><span aria-hidden="true"><img src="images/archive.svg"></span>&nbsp &nbsp &nbsp Archive</a></li>
				<li><a href=""><span aria-hidden="true"><img src="images/icons8-Trash Can-20.png"></span>&nbsp &nbsp &nbsp Trash</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper"  ng-switch="showDiv">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
					
					
						<div id="card">
						
							<div id="headercard" ng-show="myVarheader" >
								<input type="text" placeholder="Title" ng-model="title" style="width: 100%; padding: 20px; height: 40px; outline: none; border: none;">
						    </div>
						    
							<div id="contentcard" contenteditable1  contenteditable="true"  placeholder="Take a note......" ng-model="description" ng-click="noteInput()"> </div>
							
							<div id="footer"  ng-show="myVarfooter" >
							<img alt="reminder" src="images/remindericon.svg">&nbsp &nbsp &nbsp &nbsp<img alt="reminder" src="images/remindericon.svg">&nbsp &nbsp &nbsp &nbsp
						    <img alt="color" src="images/color.png">&nbsp &nbsp &nbsp &nbsp<img alt="reminder" src="images/remindericon.svg">&nbsp &nbsp &nbsp &nbsp
							<img alt="archive" src="images/archive.svg">&nbsp &nbsp &nbsp &nbsp<img alt="reminder" src="images/list.png">&nbsp &nbsp &nbsp &nbsp
							<input type="button" ng-click="hideTitle()" class="buttonsave" value="Done">
							</div>
						</div>
							<!------------------------- List view --------------------->
					  <div  ng-repeat="x in records" ng-mouseover= id="card" ng-switch-default > 
							
								<font size="5px" color="black"><div id="contentcard" ng-bind-html="x.title"></div></font>
								<div  id="contentcard" ng-bind-html="x.description"></div>
								<div id="footer">
								<input type="button" ng-click="deleteNote(x.id)" class="buttonsave" value="deleteNote">
								</div>
						</div>  

							<!-- ----------------------- grid view ------------------- -->
                         
						 
							  <div  ng-repeat="x in records" ng-switch-when=true > 
							 	 <div class="col-lg-4" id="cardgrid"> 
								<font size="5px" color="black"><div id="contentcardgrid" ng-bind-html="x.title"></div></font>
								<div  id="contentcardgrid" ng-bind-html="x.description"></div> 
								
								<div id="footer">
								<input type="button" ng-click="deleteNote(x.id)" class="buttonsave" value="deleteNote">
								</div>
								</div>
						</div>  
					
					</div>
				</div>
                  
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	
	</script>
</div>
<!-- /#wrapper -->