<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
	id="header">
	<div class="container-fluid " id="container" data-ng-class="notecolor">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span> 
				<span class="icon-bar"></span>
				 <span class="icon-bar"></span>
			</button>
			<div style="margin-left: 30px;">
			<div class="navbar-brand"id="menu-toggle">
			 <span class="glyphicon glyphicon-list"></span></div>
			<div style="margin-top: 10px;width: 174px; position:fixed; margin-left: 40px;"><font size="5px;" color="black" data-ng-class="notecolor">{{todoname}}</font></div>
		</div>
            </div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a data-ng-click="refresh()">
				 <img id="menuimg"src="images/refresh.svg" title="Refresh" title-direction="bottom"></a></li>
				<li><a  data-ng-click="showlist()" data-ng-hide="listview1"><img id="menuimg" src="images/list.svg" title="List View"title-direction="bottom"></a></li>
				<li><a data-ng-click="showgrid()" data-ng-hide="gridview1"title="Grid View" title-direction="bottom"> <img id="menuimg" src="images/grid.svg"></a></li>
				<li>
					<!-- ------------ PROFILE POPUP -------------------->
					<div class="dropdown btn-group"title="Google Account {{name }} {{email}}"title-direction="bottom">
						<div id="rounddivsmall" data-toggle="dropdown">
							<font size="5"><img  data-ng-src="{{profileimag}}"
								id="smallprofile"></font>
						</div>
						<div class="dropdown-menu" id="profilepp">
							<div>
							<div id="rounddiv">
									<span data-ng-click="profilePopup()"><img alt="" data-ng-src="{{profileimag}}" id="popupprofile"></span>
								</div>
							</div>
							<div id="profileppright">
								<h4>
									<font color="#0e0e0f">{{name}}</font>
								</h4>
								<h6>{{email}}</h6>
								<!-- <a href="#">Google+ Profile–Privacy</a> <br> -->
							</div>
							<div id="profilefooter">
								<div id="profilrbtn">
									<!-- <button>add Account</button> -->
									<button id="profsignoutbtn" data-ng-click="logout()">SignOut</button>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>

			<form class="navbar-form navbar-right" action="#" method="GET">
				<input type="text" class="form-control" placeholder="Search..."id="query" autocomplete="off" data-ng-model="searchNote">
			</form>
		</div>
	</div>
</nav>

<div id="wrapper" class="toggled">
	<div class="container-fluid">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand"><br></li>
				<li class="sidebar-brand"></li>
				<li><a data-ui-sref="home"><span><img src="images/noteicon.png"class="footerimg"></span> Notes</a></li>
				<li><a data-ui-sref="reminder"><span><img src="images/remindericon.svg" class="footerimg"></span> Reminders</a></li>
				<li><a data-ui-sref="archive"><span ><img src="images/archive.svg" class="footerimg"></span> Archive</a></li>
				<li><a data-ui-sref="trash"><span><img src="images/icons8-Trash Can-20.png" class="footerimg"></span>Trash</a></li>
			</ul>
		</div>
	</div>

<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div id="card" data-ng-show="notecard">
					<div><img alt=""data-ng-src="{{imageSrc}}" style="width: 100%"></div>
					<div id="headercard" data-ng-show="myVarheader">
						<input type="text" placeholder="Title" data-ng-model="title"
							style="outline: none; border: none; padding-left: 20px;">
					</div>
					<div id="contentcard" contenteditable1 contenteditable="true"
						placeholder="Take a note......" data-ng-model="description"
						data-ng-click="noteInput()"></div>
					<div id="footer" data-ng-show="myVarfooter">
						<div>
							<span data-ng-click="addImage()"><img id="img"
								src="images/imap.svg" title="Add Image" title-direction="bottom"></span> <input type="file"
								data-ng-file-select="onFileSelect($files)" data-ng-model="imageSrc"
								id="addImg" style="display: none;"> 
							<input type="button" data-ng-click="hideTitle()"
								class="buttonsave" value="Done">
						</div>
					</div>
				</div>

			<!-- 	--------------------------- including archivehtml ------------------- -->
				
				
				<div data-ng-include="'template/Pin.html'"data-ng-show="pinpage"></div>
				<div   style="margin-top: 20px;" data-ng-show="othersName">others</div>
				<div data-ng-include="'template/archiveNotes.html'" data-ng-show="archivepage"></div>
				<div data-ng-include="'template/trash.html'"data-ng-show="trashpage"></div>
				<div data-ng-include="'template/reminder.html'"data-ng-show="reminderpage"></div>
				<!-- -------------- -------- Listgrid view ------------------- -->
                  
                  
                 
				<div  data-ng-repeat="x in records | filter:searchNote"data-ng-mouseover="showimg=true" data-ng-mouseleave="showimg=false" data-ng-if="x.archive==false && x.trash==false && x.pin==false">
					<div data-ng-class="listgridtoggle" data-ng-show="homepage"data-ng-style="{'background-color':x.notecolor}">
						<div style="float: right;height:0px;" ><img src="images/pin.svg" data-ng-click="pinNote(x)"title="Pin note" title-direction="bottom" data-ng-show="showimg" ></div>
							<img data-ng-src="{{x.image}}"style="width: 100%; margin-top: 20px;">
							<div>
								<div id="title" data-ng-bind-html="x.title"data-ng-click="openModal(x)" style="word-break: break-word;">
								</div>
								<div data-ng-bind-html="x.description"data-ng-click="openModal(x)" style="word-break: break-word;"></div>
								<div id="footer">
									<div data-ng-show="showimg">
										<!-- 	reminder --set--- -->
										<div class="dropdown btn-group">
											<img id="img"src="images/remindericon.svg"data-toggle="dropdown" title="Remind me"title-direction="bottom">
											<ul class="dropdown-menu" id="reminderdiv">
												<li><a>Reminder:</a></li>
												<li><a data-ng-click="setReminder(x,'today')">Later Today <span id="reminderspan">8:00 PM</span></a></li>
												<li><a data-ng-click="setReminder(x,'tomorrow')">Tomorrow<span id="reminderspan">8:00 AM</span></a></li>
												<li><a data-ng-click="setReminder(x,'weekday')">Next Week <span id="reminderspan"> {{weekday}},8:00 AM</span></a></li>
												<li><img alt="Reminder" src="images/clock.png">Pick Date And Time</li><li><a>Pick Place</a></li>
											</ul>
										</div>
										<img id="img" src="images/person_add_18px.svg" 
											title="Collaborator" title-direction="bottom" ng-click="collaboratorPopup(x)" >
										<!-- ----------------	color set --------- -->
										<div class="dropup btn-group">
											<img  id="img" src="images/color.png" data-toggle="dropdown"title="Change Color"title-direction="bottom">
											<div class="dropdown-menu">
												<div>
													<img src="images/white.png"data-ng-click="changeColor(x,'rgb(250, 250, 250)')"id="colorimag">
												    <img src="images/red.png"data-ng-click="changeColor(x,'rgb(255, 138, 128)')"id="colorimag">
												    <img src="images/yellow.png"data-ng-click="changeColor(x,'rgb(255, 209, 128)')"id="colorimag">
													<img src="images/orange.png"data-ng-click="changeColor(x,'rgb(255, 255, 141)')"id="colorimag">
														<br> 
													<img src="images/gray.png"data-ng-click="changeColor(x,' rgb(207, 216, 220)')"id="colorimag">
													<img src="images/blue.png "data-ng-click="changeColor(x,'rgb(128, 216, 255)')"id="colorimag"> 
													<img src="images/yellow.png" data-ng-click="changeColor(x,'rgb(167, 255, 235)')"id="colorimag"> 
													<img src="images/green.png "data-ng-click="changeColor(x,'rgb(204, 255, 144)')"	id="colorimag">
												</div>
											</div>
										</div>
											<!-- ---------- archive ------------ -->
										<img  id="img" src="images/archive.svg" data-ng-click="archiveNotes(x)"
											title="Archive" title-direction="bottom"> <img  id="img"
											src="images/icons8-Share-20 (1).png"
											data-ng-click="facebookshare(x)" title="ShareOnFB"
											title-direction="bottom">
										<div class="dropdown btn-group">
											<img  id="img" src="images/list.png" data-toggle="dropdown"
												title="More" title-direction="bottom">
											<ul class="dropdown-menu">
												<li><a data-ng-click="trashNotes(x)">Delete Note</a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- 	reminder -- div--- -->
								<div data-ng-if="x.reminder!=undefined" id="remindershow">
									<img alt="Reminder" src="images/clock.png"> {{x.reminder
									|date:"MMM d,h:mm:ss a"}} <span
										data-ng-click="deleteReminder(x)" data-ng-show="showimg"
										id="reminderdelbtn" title="Delete Reminder"
										title-direction="bottom">&#10062;</span>
								</div>
								<!-- -------------- scraping div ------------- -->
								<div data-ng-if="x.webscripingtitle!=undefined" id="scrapdiv">
									<div id="scrapimag">
										<img style="height: 100%;width: 100%;" data-ng-src="{{x.webscripingimage}}"
											>
									</div>
									<div id="scraptitle">
										<div id="scraphost">{{x.webscripingtitle}}</div>
										<div id="scraphh">
										<a style="text-decoration:none">{{x.webscripinghost}}</a>
											<a href="{{x.description}}" target="_blank" style="text-decoration:none"><img src="images/newwindow.svg"title="Go to link" title-direction="bottom"></a>
										</div>
									</div>
								</div>
							</div>
						
						<div class="col-lg-2"></div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>

<script type="text/javascript">
		$("#menu-toggle").click(function(e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
	</script>

	<!-- /#wrapper -->