

<div data-ng-model="$ctrl.notecolor" style="background-color: {{ $ctrl.notecolor }}">
<div class="modal-header" id="modal-body"><img data-ng-src="{{$ctrl.image}}"style="width: 100%; margin-top: 20px;"></div>
<div class="modal-header" id="modal-body" contenteditable1 contenteditable="true" data-ng-model="$ctrl.title"></div>
<div class="modal-body" id="modal-body" contenteditable1 contenteditable="true" data-ng-model="$ctrl.description">
</div>
	<div id="scrapdiv">
		<div id="scrapimag">
			<img style="height: 100%; width: 100%;"
				data-ng-src="{{$ctrl.webscripingimage}}">
		</div>
		<div id="scraptitle">
			<div id="scraphost">{{$ctrl.webscripingtitle}}</div>
			<div id="scraphh">
				<a style="text-decoration: none">{{$ctrl.webscripinghost}}</a> <a
					href="{{$ctrl.description}}" target="_blank"
					style="text-decoration: none"><img src="images/newwindow.svg"
					title="Go to link" title-direction="bottom"></a>
			</div>
		</div>
	</div>
	<div class="modal-footer" >
	<div style="float: left;">
      <img id="img"src="images/remindericon.svg"data-toggle="dropdown" title="Remind me"title-direction="bottom">
	  <img  id="img" src="images/person_add_18px.svg"title="Collaborator" title-direction="bottom">
		<div class="dropup btn-group">
			<img id="img" src="images/color.png" data-toggle="dropdown">
			<div class="dropdown-menu">
				<div>
					<img src="images/white.png"data-ng-click="$ctrl.notecolor='rgb(250, 250, 250)'"id="colorimag"> 
					<img src="images/red.png"data-ng-click="$ctrl.notecolor='rgb(255, 138, 128)'"id="colorimag">
					<img src="images/yellow.png"data-ng-click="$ctrl.notecolor='rgb(255, 209, 128)'"id="colorimag">
				    <img src="images/orange.png"data-ng-click="$ctrl.notecolor='rgb(255, 255, 141)'"id="colorimag"><br>
					<img src="images/gray.png"data-ng-click="$ctrl.notecolor=' rgb(207, 216, 220)'"id="colorimag">
				    <img src="images/blue.png "data-ng-click="$ctrl.notecolor='rgb(128, 216, 255)'"id="colorimag">
				    <img src="images/yellow.png"data-ng-click="$ctrl.notecolor='rgb(167, 255, 235)'"id="colorimag">
				    <img src="images/green.png "data-ng-click="$ctrl.notecolor='rgb(204, 255, 144)'"id="colorimag">
				</div>
			</div>
		</div>
		 <!-- 	---------- archive ------------ -->
		<img  id="img" src="images/archive.svg" data-ng-click="$ctrl.archiveNotes(x)"title="Archive" title-direction="bottom">
		 <div class="dropdown btn-group">
		 <img  id="img" src="images/list.png" data-toggle="dropdown"title="More" title-direction="bottom">
			<ul class="dropdown-menu">
			<li><a data-ng-click="trashNotes(x)">Delete Note</a></li>
				<li><a>add label</a></li>
				<li><a>add drawing</a></li>
				</ul>
		</div>
 </div>
 
	<div><button style="border: none;" type="button" data-ng-click="$ctrl.update()">Done</button></div>
</div>
              
</div>
