<div class="contain" >
	<div class="frmlogin">
		<form method="post" name="signin">
			<div class="headtab">
				<h3>User SignIn Page</h3>
			</div>
			
			<ul>
				 <li><input type="email" name="email" class="txtuser" placeholder="User email" ng-model="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$/"></li>
			
			    <span style="color:Red padding-left: 25px;" ng-show="signin.email.$error.required"> Enter Email! </span>
				<li><span style="color:Red" ng-show="signin.email.$dirty&&signin.email.$error.pattern"> *Enter Valid  Email!!</span></li>
				
				<li><input type="password" name="password" class="txtpass" placeholder="User password"ng-model="password"></li>
			
			    <span style="color:Red" ng-show="signin.password.$error.required"> Enter  Password! </span>
				
				<li><button name="txtbtn" ng-click="userLogin()" ng-disabled="signin.$invalid"class="txtbtn">SignIn</button></li>
		
		</form>
		 
				<div>
				<div style="color: red;font-weight: bold;margin-left: 28%;">{{errorMessage}}</div>
					<button class="btn btn-danger" id="googlesignin" ><a href="loginWithGoogle" style="text-decoration:none;">Login with google+</a></button>
					
					<div>
				<div style="color: red;font-weight: bold;margin-left: 28%;">{{errorMessage}}</div>
					<button class="btn btn-success" id="googlesignin" ><a href="loginWithFacebook" style="text-decoration:none;">Login with FB</a></button>
				</div>
					
					
				</div>
		<p class="pc">if not Registered?<a ui-sref="signup">Signup</a> Here</p>
		</ul>
		
	</div>
</div>
	