<div class="contain" >
	<div class="frmlogin">
		<form method="post" name="signin">
			<div class="headtab">
				<h3>User SignIn Page</h3>
			</div>
			
			<ul>
				 <li><input type="email" name="email" class="txtuser" placeholder="User email" ng-model="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$/"></li>
			
			    <span style="color:Red padding-left: 25px;" ng-show="signin.email.$error.required"> Enter Email! </span>
				<li><span style="color:Red" ng-show="signin.email.$dirty&&signin.email.$error.pattern"> *Enter Valid  Email!!</span></li>
				
				<li><input type="password" name="password" class="txtpass" placeholder="User password"ng-model="password"></li>
			
			    <span style="color:Red" ng-show="signin.password.$error.required"> Enter  Password! </span>
				
				<li><button name="txtbtn" ng-click="userLogin()" ng-disabled="signin.$invalid"class="txtbtn">SignIn</button></li>
		
		</form>
		 <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark">Google Sign in</div>
		<p class="pc">if not Registered?<a ui-sref="signup">Signup</a> Here</p>
		</ul>
		
	</div>
</div>
	/***********Google SignIn*********/
<<script type="text/javascript">
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log("ID: " + profile.getId()); 
  console.log('Full Name: ' + profile.getName());
  console.log('Given Name: ' + profile.getGivenName());
  console.log("Image URL: " + profile.getImageUrl());
  console.log("Email: " + profile.getEmail());
  var id_token = googleUser.getAuthResponse().id_token;
  console.log("ID Token: " + id_token);
};

	</script>
	