<div class="contain">
	<div class="formlogin">
		<form method="post" name="signup">
		<div class="headt"><h3>User SignUp Page</h3></div>
		<ul >
			
			<li><input type="text" name="firstname" class="txuser" placeholder="User firstname" ng-pattern="/^[A-Za-z]{5,10}$/" ng-model="firstname"></li>
			
			<span style="color:Red" dat-ng-show="signup.firstname.$error.required"> Enter FirstName! </span>
				<span style="color:Red" ng-show="signup.firstname.$dirty&&signup.firstname.$error.pattern"> *Enter Valid  FirstName!!</span>
			
			<li><input type="text" name="lastname" class="txuser" placeholder=" User lastname" ng-model="lastname" ng-pattern="/^[A-Za-z]{5,10}$/"></li>
            
            <span style="color:Red" ng-show="signup.lastname.$error.required"> Enter FirstName! </span>
				<span style="color:Red" ng-show="signup.lastname.$dirty&&signup.lastname.$error.pattern"> *Enter Valid  LastName!!</span>
            
             <li><input type="email" name="email" class="txuser" placeholder="User email" ng-model="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})$/"></li>
			
			<span style="color:Red" ng-show="signup.email.$error.required"> Enter Email! </span>
				<span style="color:Red" ng-show="signup.email.$dirty&&signup.email.$error.pattern"> *Enter Valid  Email!!</span>
			
			<li><input type="number" name="mobile" class="txpass" placeholder=" User mobile" ng-model="mobile"  ng-pattern="/^[0-9]{10}$/"></li>
			
			<span style="color:Red" ng-show="signup.mobile.$error.required"> Enter MobileNumber! </span>
				<span style="color:Red" ng-show="signup.mobile.$dirty&&signup.mobile.$error.pattern"> *Enter 10 digits MoobileNumber only!!</span>
			
			<li><input type="password" name="password" class="txpass" placeholder="User password"ng-model="password"></li>
			
			    <span style="color:Red" ng-show="signup.password.$error.required"> Enter  Password! </span>
				<span style="color:Red" ng-show="signup.password.$dirty&&signup.password.$error.pattern"> *Enter 10 digits Moobile Number only!!</span>
			<li><button name="txbtn" ng-click="userSignup()" ng-disabled="signup.$invalid"class="txbtn">SignUp</button></li>
		</ul>
		</form>
		<p class="p">if Registered?<a data-ui-sref="signin">Signin</a> Here</p>
	</div>
</div>
